:root {
    flex-grow: 1;
    flex-direction: row;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-color: #D0D5E0;
    border-width: 1px;
    border-bottom-width: 0;
    margin-left: 5px;
}



.label-name {
    width: 70px;
    -unity-text-overflow-position: end;
    font-size: 15px;
    align-self: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    -unity-text-align: middle-center;
    color: black;
}

.close-button {
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    background-image: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Images/d_secondarytabclose.png?fileID=2800000&guid=6975ee4c1f40caf4da8dd733ee2cfeaf&type=3#d_secondarytabclose");
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.close-button:hover{
    background-color: #D0D5E0;
    -unity-background-image-tint-color: #1f2a3a;
}

.label-item-active{
    background-color: #FFFFFF;
}

.label-item-hover{
    background-color: #d5d9e2;
}